input {
    /* 主体设置 */
    background-color: white;
    padding: 10px 24px;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    /* 边框设置 */
    border-radius: 6px;
    border: none;
    border-block-color: white;
    /* 文字设置 */
    color: darkblue;
    font-size: 16px;
    font-family: 'Product Sans';
    text-align: center;
}
