ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 64px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
    font-family: 'Segoe Fluent Icons';
}
li{
    font-size: 24px;
    padding: 10%;
}
li.list:hover{
    background-color: #bbbbbb;
    border-radius: 10px;
    margin: 5%;
}