ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 64px;
    background-color: #eeeeee;
    position: fixed;
    height: 100%;
    overflow: auto;
    font-family: 'Segoe Fluent Icons';
}
li{
    font-size: 24px;
    padding: 10%;
    margin: 10%;
}
li.list:hover{
    background-color: #ffffff;
    border-radius: 10px;
}