body {
    font-family: 'Harmony Sans SC M' !important;
}

div.normalView {
    height: 92vh;
    display: block;
}

div.main {
    height: 100%;
    overflow-y: auto;
    scrollbar-width: thin;
    box-sizing: border-box;
    margin: 1em;
    border-radius: 1em;
    background-color: rgb(var(--mdui-color-on-primary));
    padding: 1em;
}

mdui-navigation-rail {
    background-color: rgb(var(--mdui-color-surface-container));
    position: fixed;
    margin-left: 0.8em;
}

mdui-navigation-bar {
    background-color: rgb(var(--mdui-color-surface-container));
}

b {
    font-family: 'Harmony Sans SC Black';
}

mdui-top-app-bar-title {
    font-family: 'Harmony Sans SC Bold';
}